<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PRN292" 
         connectionString="
         Data Source = localhost;
         Initial Catalog = DemoWinFormC#; 
         User ID = sa;
         Password = sa;"/>
  </connectionStrings>
</configuration>